<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- need to put description in, ability to edit and some more sections for text. then create a table so it looks nice -->
    <h2>Add A Problem:</h2>
    
    <form action="/problems/createProblems" method="POST">
        <input type="text" placeholder="Enter Problem Item" name="problemItem">
        <input type="text" placeholder="Enter Pattern Type" name="patternType">
        <input type="text" placeholder="Enter Description" name="description">
        <input type="text" placeholder="Enter Date" name="date">
        <input type="text" placeholder="Enter Link" name="link">
        <input type="submit">
    </form>

    <h2> Filter: </h2>
    <!-- <button class="patternCheck">click me for dropdown</button> -->
    <!-- Im thinking that one the click of the options you call one of two getProblems methods from the controller. You click all and it gives
    the default getProblems method and if you click any other one it gives you a different method that has a parameter in the find -->
    <!-- <form action="/problems/" method="GET">
        <input type="text"  placeholder="Enter Pattern" name="patternType">
        <button type="submit">Search</button>
    </form> -->

    <!-- Need to make the search bar only the max one -->
    <form action="/problems/" method="GET">
        <select name="patternType" class="patternSelect">
            <option value="patterns" selected>Choose a pattern</option>
            <% let hashset = new Set() %>
            <% problems.forEach(el => { %>
                <% if(!hashset.has(el.pattern)){ %>
                    <option value="<%= el.pattern %>"><%= el.pattern %></option>
                    <% hashset.add(el.pattern) %>
                <% } %>     
            <% }) %>
        </select>
        <button type="submit">Search</button>
    </form>

    <form action="/problems/sorted" method="GET">
        <select name="sortType" class="sortSelect">
            <option value="nameAsc">Name Ascending</option>
            <option value="nameDesc">Name Descending</option>
            <option value="dateAsc">Date Ascending</option>
            <option value="dateDesc">Date Descending</option>
        </select>
        <button type="submit">Sort</button>
    </form>
    
    <h1>Problems completed</h1>
    <ul id="heading">
        <li class="problem">Problem</li>
        <li class="pattern">Pattern</li>
        <li class="description">Notes</li>
        <li class="date">Date</li>
        <li class="link">Link</li>
    </ul>

    <!-- could add the link to the problems for quick access COMPLETED!!!--> 
    <!-- also need to add a search function so I can see problems by patterns, date, number, etc -->
    <ul class="problemItems">
        <% problems.forEach(el => { %>
            <li class="problemItem" data-id="<%=el._id%>">
                    <h2 class="problem"><%= el.problem %></h2>
                    <h3 class="pattern"><%= el.pattern %></h3>
                    <h3 class="description"><%= el.description %></h3>
                    <h3 class="date"><%= moment(el.date).format('MMM D, YYYY') %></h3>
                    <a class="link" href="<%= el.link %>"><%= el.problem %></a>
                    <span class="del">Delete</span>
                    <span class="edit">Edit</span>         
            </li>   
        <% }) %>
    </ul>

    <script src="/main.js"></script>
</body>
</html>