<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Make the date filter able to do range of dates, make a pagination for the problems, figure out how to get the patterns
        to make the sort list to be constant and do bootstrap to make it look better -->
    <h2>Add A Problem:</h2>
    
    <form action="/problems/createProblems" method="POST">
        <input type="text" placeholder="Enter Problem Item" name="problemItem">
        <input type="text" placeholder="Enter Pattern Type" name="patternType">
        <input type="text" placeholder="Enter Description" name="description">
        <input type="text" placeholder="Enter Date" name="date">
        <input type="text" placeholder="Enter Link" name="link">
        <input type="submit">
    </form>

    <h2> Filter: </h2>
    <!-- Need to make the search bar only the max one might just have to hardcode it-->
    <form action="/problems/" method="GET">
        <select name="patternType" class="patternSelect">
            <option value="patterns" selected>Choose a pattern</option>
            <% let hashset = new Set() %>
            <% problems.forEach(el => { %>
                <% if(!hashset.has(el.pattern)){ %>
                    <option value="<%= el.pattern %>"><%= el.pattern %></option>
                    <% hashset.add(el.pattern) %>
                <% } %>     
            <% }) %>
        </select>
        <button type="submit">Search</button>
    </form>

    <form action="/problems/sorted" method="GET">
        <select name="sortType" class="sortSelect">
            <option value="nameAsc">Name Ascending</option>
            <option value="nameDesc">Name Descending</option>
            <option value="dateAsc">Date Ascending</option>
            <option value="dateDesc">Date Descending</option>
        </select>
        <button type="submit">Sort</button>
    </form>
    
    <form action="/problems/" method="GET">
        <input type="text" placeholder="Enter Page Number" name="page">
        <button type="submit">Get Page</button>
    </form>

    <h1>Problems completed</h1>
    <ul id="heading">
        <li class="problem">Problem</li>
        <li class="pattern">Pattern</li>
        <li class="description">Notes</li>
        <li class="date">Date</li>
        <li class="link">Link</li>
    </ul>

    
    <ul class="problemItems">
        <% problems.forEach(el => { %>
            <li contenteditable="false" class="problemItem" data-id="<%=el._id%>">
                    <h2 class="problem"><%= el.problem %></h2>
                    <h3 class="pattern"><%= el.pattern %></h3>
                    <h3 class="description"><%= el.description %></h3>
                    <h3 class="date"><%= moment(el.date).format('MMM D, YYYY') %></h3>
                    <a class="link" href="<%= el.link %>"><%= el.problem %></a>
                    <span class="edit">Edit</span>
                    <span class="stopEdit" class="hidden">Stop</span>   
                    <span class="del">Delete</span>        
            </li>   
        <% }) %>
    </ul>

    <script src="/main.js"></script>
</body>
</html>